<nav
  class="bg-neutral-900 text-white px-6 py-3 shadow flex justify-between items-center"
>
  <img src="assets/logo.png" alt="Logo" class="h-8 w-auto" />
  <span class="text-xl font-bold text-white">Gamestore</span>
  <ul class="flex space-x-6 text-sm font-medium">
    <li><a routerLink="/" class="hover:text-purple-400 transition">Home</a></li>
    <li>
      <a routerLink="/games" class="hover:text-purple-400 transition">Games</a>
    </li>
    <li>
      <a routerLink="/about" class="hover:text-purple-400 transition">About</a>
    </li>
    <li>
      <a routerLink="/contact" class="hover:text-purple-400 transition"
        >Contact</a
      >
    </li>
  </ul>
</nav>
